---
---

<section class="bg-black">
    <div
        class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x bg-white border-black"
    >
        <div class="relative flex justify-start">
            <span
                class="bg-white pr-3 text-4xl lg:text-9xl font-black tracking-tight text-black font-display"
                >What we do</span
            >
        </div>
    </div>
</section>
<section class="border-b">
    <div class="mx-auto max-w-7xl border-x">
        <div class="mx-auto">
            <article
                aria-labelledby="episode-1-title"
                class="px-8 lg:px-24 py-12 items-center"
            >
                <div class="flex items-center sm:items-start">
                    <div
                        class="h-20 w-20 flex-shrink-0 overflow-hidden b sm:h-40 sm:w-40"
                    >
                        <img
                            src="/assets/code.webp"
                            alt="Code on a computer screen"
                            class="h-full w-full object-cover object-center grayscale"
                        />
                    </div>
                    <div class="ml-6 flex-1 text-sm">
                        <div class="font-medium text-gray-900 sm:flex">
                            <h2
                                class="mt-2 text-lg lg:text-2xl font-semibold text-white font-display tracking-widest"
                            >
                                Simple Software
                            </h2>
                        </div>
                        <div>
                            <p class="mt-1 text-white/60 font-light lg:text-lg">
                                We write the code that solves complex problems,
                                with simple solutions.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article
                aria-labelledby="episode-1-title"
                class="px-8 lg:px-24 py-12 items-center"
            >
                <div class="flex items-center sm:items-start">
                    <div class="ml-6 flex-1 text-sm">
                        <div class="font-medium text-gray-900 sm:flex">
                            <h2
                                class="mt-2 text-lg lg:text-2xl font-semibold text-white font-display tracking-widest"
                            >
                                Simply Easy
                            </h2>
                        </div>
                        <div>
                            <p class="mt-1 text-white/60 font-light lg:text-lg">
                                As "tech people", we have always been the ones
                                our friends and family come to for help with
                                their tech problems. And while it's always great
                                to help someone, we definitely understand the
                                need for simplier software.
                            </p>
                        </div>
                    </div>
                    <div
                        class="h-20 w-20 flex-shrink-0 overflow-hidden b sm:h-40 sm:w-40"
                    >
                        <img
                            src="/assets/easy.webp"
                            alt="Easy Button"
                            class="h-full w-full object-cover object-center grayscale"
                        />
                    </div>
                </div>
            </article>
            <article
                aria-labelledby="episode-1-title"
                class="px-8 lg:px-24 py-12 items-center group"
            >
                <div class="flex items-center sm:items-start">
                    <div
                        class="h-20 w-20 flex-shrink-0 overflow-hidden b sm:h-40 sm:w-40"
                    >
                        <img
                            src="/assets/ux_design.webp"
                            alt="Paper with a design on it"
                            class="h-full w-full object-cover object-center grayscale"
                        />
                    </div>
                    <div class="ml-6 flex-1 text-sm">
                        <div class="font-medium text-gray-900 sm:flex">
                            <h2
                                class="mt-2 text-lg lg:text-2xl font-semibold text-white font-display tracking-widest"
                            >
                                Simply Good Looking
                            </h2>
                        </div>
                        <div>
                            <p class="mt-1 text-white/60 font-light lg:text-lg">
                                Part of making a program easy to use, is making
                                sure the design is easy to look at. This is the
                                what we always take into consideration when
                                designing a product. If a cake didn't look good,
                                would you eat it?
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article
                aria-labelledby="episode-1-title"
                class="px-8 lg:px-24 py-12 items-center"
            >
                <div class="flex items-center sm:items-start">
                    <div class="ml-6 flex-1 text-sm">
                        <div class="font-medium text-gray-900 sm:flex">
                            <h2
                                class="mt-2 text-lg lg:text-2xl font-semibold text-white font-display tracking-widest"
                            >
                                Simply Secure
                            </h2>
                        </div>
                        <div>
                            <p class="mt-1 text-white/60 font-light lg:text-lg">
                                With the world becoming more and more reliant on
                                technology, there is a clear need for software
                                to be secure by design. Which is why every
                                single project we work on uses the latest
                                standards and best practices to ensure that your
                                data is safe and secure.
                            </p>
                        </div>
                    </div>
                    <div
                        class="h-20 w-20 flex-shrink-0 overflow-hidden b sm:h-40 sm:w-40"
                    >
                        <img
                            src="/assets/encrpytion.webp"
                            alt="Encrypted data"
                            class="h-full w-full object-cover object-center grayscale"
                        />
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
