<section class="border-b bg-black">
    <div class="mx-auto max-w-7xl px-8 lg:px-24 py-24 lg:py-36">
        <div class="items-end grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24">
            <div class="py-12">
                <h2
                    class="text-white font-semibold mt-6 text-3xl font-display lg:text-8xl"
                >
                    Need a Simple Solution?
                </h2>
                <div class="text-white font-semibold mt-6 text-xl font-display">
                    Drop us a line at support@chancesoftwarellc.com
                </div>
            </div>
        </div>
    </div>
</section>
