<section class="border-white bg-black">
    <div class="mx-auto max-w-7xl px-8 lg:px-24 py-12 bg-white border-black">
        <div class="relative flex justify-start">
            <span
                class="bg-white pr-3 text-4xl lg:text-9xl font-black tracking-tight text-black font-display"
                >Dietly
            </span>
        </div>
    </div>
</section>
<section class="border-b border-white bg-black">
    <div class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x border-white">
        <div class="space-y-12 lg:border-zinc-100 max-w-2xl">
            <div class="pb-16 top-0">
                <div class="space-y-3 ml-auto">
                    <p
                        class="text-2xl font-semibold lg:text-3xl text-white font-display"
                    >
                        A simplier diet tracker design to counter the overpriced
                        alternatives.
                    </p>
                </div>

                <div class="space-y-24 mt-12">
                    <div class="text-base space-y-6">
                        <p class="text-lg text-white">
                            Dietly is a simple diet tracker mixed with some
                            subtle Artificial Intelligence and social features
                        </p>
                        <p class="text-lg text-white">
                            The main goal is to provide an easy method to track
                            what you consume based on your physical wellbeing,
                            and help you stay motivated by allowing you to
                            follow others doing the same thing as you are from
                            within the app
                        </p>
                        <p class="text-white text-lg">
                            However, despite having some social functionality,
                            Dietly understands not everyone who is wanting to
                            improve their health wants the world to know their
                            personal information. That is why we give you the
                            option of what you share with others. Just want to
                            use the app for your diet? No problem!
                        </p>

                        <p class="text-sm">
                            <span class="flex flex-wrap gap-3">
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.chancesoftwarellc.nafp"
                                    class="text-white 500 hover:text-white"
                                    >Android Download</a
                                >
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
