<div
    class="mx-auto m-10 lg:rounded-full md:rounded-full sm:rounded-none max-w-xl items-center overflow-hidden"
>
    <img
        src="/assets/dietly.webp"
        alt="Dietly logo"
        class="w-full object-cover sm:rounded-none"
    />
</div>
