<section aria-labelledby="footer-heading" id="footer" class="bg-black">
    <footer>
        <div class="mx-auto max-w-7xl divide-y divide-white">
            <div
                class="flex-col flex lg:flex-row lg:items-center gap-y-12 items-start justify-between lg:py-16 pb-6 pt-16 px-8 lg:px-24"
            >
                <div class="lg:mx-auto lg:text-center">
                    <div class="text-white items-center flex">
                        <div class="lg:mx-auto lg:text-center">
                            <p
                                class="font-display font-semibold lg:mx-auto italic lg:text-4xl text-2xl"
                            >
                                Chance Software
                            </p><p class="mt-1 text-sm">
                                Simple Software, By Simple People, For Complex
                                Problems
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:mx-auto lg:text-center flex flex-col md:pt-6 pb-12 pt-8 px-8 lg:px-24"
                >
                    <p class="md:mt-0 mt-6 text-sm text-zinc-500">
                        © Copyright 2023 . All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</section>
